@import url("https://fonts.googleapis.com/css?family=Outfit");

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Outfit;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10.5rem;
  height: 10.5rem;
  z-index: 3;
  position: fixed;
}

/* navbar section start */
.navbar {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  background: #fef9ff;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px #000000cc;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  text-align: center;
  float: left;
}

.navbar-link {
  text-decoration: none;
  color: #fe5c24;
}

.navbar-name {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1.5rem;
}

.navbar-name:hover {
  transform: scale(1.1);
  color: black;
}

.bg-image header {
  background: black;
  overflow: hidden;
  height: 89vh;
}

.bg-image header img {
  object-fit: cover;
  opacity: 0.4;
  width: 100vw;
  height: 89vh;
}

.heading-text {
  text-align: center;
  color: #fef9ff;
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 95px;
}

/* circle content starts */
.analytics-para {
  margin-top: 2rem;
  width: 80%;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: normal;
}

.analytics-content {
  margin-top: 7rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.circle-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

.circle {
  position: relative;
  height: 205px;
  width: 205px;
  background: #fdae304f;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.circle-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
}

/* footer section start */
.footer {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  background-color: #c7ede6;
  height: 30rem;
}

.question-box {
  margin-top: -3%;
  border: 2px solid #fe5c24;
  background: #fe5c24;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 5rem;
  position: absolute;
  z-index: 2;
  box-shadow: 0 4px 6px #000011;
}

.question {
  float: left;
  padding-top: 1%;
  padding-left: 7%;
  width: 60%;
  font-size: 1.25rem;
}

.submit {
  float: right;
  margin-right: 7%;
  margin-top: 1.8%;
  width: 10rem;
  font-size: 16px;
  text-align: center;
  border: 2px solid #191d34;
  height: 3.5rem;
  border-radius: 40px;
  background-color: #191d34;
  color: aliceblue;
}

.submit:hover {
  cursor: pointer;
}

.footer-bottom {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.footer-left,
.footer-center {
  width: 30%;
  text-align: center;
}

.footer-right {
  width: 30%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 219.81px;
  height: 216.82px;
}

.footer-heading {
  font-size: larger;
  margin-bottom: 2rem;
}

.footer-heading1 {
  font-size: larger;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer-right-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  text-decoration: none;
  color: black;
}
