@import url("https://fonts.googleapis.com/css?family=Outfit");

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Outfit;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10.5rem;
  height: 10.5rem;
  z-index: 3;
  position: fixed;
}

/* navbar section start */
.navbar {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  background: #fef9ff;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px #000000cc;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  text-align: center;
  float: left;
}

.navbar-link {
  text-decoration: none;
  color: #fe5c24;
}

.navbar-name {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1.5rem;
}

.navbar-name:hover {
  transform: scale(1.1);
  color: black;
}

/* home section start */
.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 10s infinite;
  background-size: cover;
  background-position: center;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 2s;
}

.slide:nth-child(3) {
  animation-delay: 4s;
}

.slide:nth-child(4) {
  animation-delay: 6s;
}

.slide:nth-child(5) {
  animation-delay: 8s;
}

@keyframes fade {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.slide-text {
  text-align: center;
  color: white;
  font-size: 6.25rem;
  font-weight: 900;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 22%;
  right: 22%;
  bottom: 35%;
}

.tamsoma {
  margin-top: 5rem;
  height: 10%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* about us section start */
.heading {
  text-transform: uppercase;
  color: #fe5c24;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120px;
  margin-top: 9rem;
  margin-bottom: 0;
}

.about-paragraph {
  text-align: center;
  width: 80%;
  font-weight: 300;
  font-size: 2rem;
  line-height: 44.1px;
  color: #191d34;
}

/* our services section start */
.services-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.circle-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fe5c24;
}

.circle-content:hover {
  cursor: pointer;
}

.circle-content img {
  width: 15.625rem;
  height: 15.625rem;
}

/* footer section start */
.footer {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  background-color: #c7ede6;
  height: 30rem;
}

.question-box {
  margin-top: -3%;
  border: 2px solid #fe5c24;
  background: #fe5c24;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 5rem;
  position: absolute;
  z-index: 2;
  box-shadow: 0 4px 6px #000011;
}

.question {
  float: left;
  padding-top: 1%;
  padding-left: 7%;
  width: 60%;
  font-size: 1.25rem;
}

.submit {
  float: right;
  margin-right: 7%;
  margin-top: 1.8%;
  width: 10rem;
  font-size: 16px;
  text-align: center;
  border: 2px solid #191d34;
  height: 3.5rem;
  border-radius: 40px;
  background-color: #191d34;
  color: aliceblue;
}

.submit:hover {
  cursor: pointer;
}

.footer-bottom {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.footer-left,
.footer-center {
  width: 30%;
  text-align: center;
}

.footer-right {
  width: 30%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 219.81px;
  height: 216.82px;
}

.footer-heading {
  font-size: larger;
  margin-bottom: 2rem;
}

.footer-heading1 {
  font-size: larger;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer-right-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  text-decoration: none;
  color: black;
}
