@import url("https://fonts.googleapis.com/css?family=Outfit");

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Outfit;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10.5rem;
  height: 10.5rem;
  z-index: 3;
  position: fixed;
}

/* navbar section start */
.navbar {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  background: #fef9ff;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px #000000cc;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  text-align: center;
  float: left;
}

.navbar-link {
  text-decoration: none;
  color: #fe5c24;
}

.navbar-name {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1.5rem;
}

.navbar-name:hover {
  transform: scale(1.1);
  color: black;
}

/* home section start */
.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 10s infinite;
  background-size: cover;
  background-position: center;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 2s;
}

.slide:nth-child(3) {
  animation-delay: 4s;
}

.slide:nth-child(4) {
  animation-delay: 6s;
}

.slide:nth-child(5) {
  animation-delay: 8s;
}

@keyframes fade {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.slide-text {
  text-align: center;
  color: white;
  font-size: 6.25rem;
  font-weight: 900;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 22%;
  right: 22%;
  bottom: 35%;
}

.tamsoma {
  margin-top: 5rem;
  height: 10%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* about us section start */
.heading {
  text-transform: uppercase;
  color: #fe5c24;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120px;
  margin-top: 9rem;
  margin-bottom: 0;
}

.about-paragraph {
  text-align: center;
  width: 80%;
  font-weight: 300;
  font-size: 2rem;
  line-height: 44.1px;
  color: #191d34;
}

/* our services section start */
.services-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.circle-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fe5c24;
}

.circle-content:hover {
  cursor: pointer;
}

.circle-content img {
  width: 15.625rem;
  height: 15.625rem;
}

/* footer section start */
.footer {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  background-color: #c7ede6;
  height: 30rem;
}

.question-box {
  margin-top: -3%;
  border: 2px solid #fe5c24;
  background: #fe5c24;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 5rem;
  position: absolute;
  z-index: 2;
  box-shadow: 0 4px 6px #000011;
}

.question {
  float: left;
  padding-top: 1%;
  padding-left: 7%;
  width: 60%;
  font-size: 1.25rem;
}

.submit {
  float: right;
  margin-right: 7%;
  margin-top: 1.8%;
  width: 10rem;
  font-size: 16px;
  text-align: center;
  border: 2px solid #191d34;
  height: 3.5rem;
  border-radius: 40px;
  background-color: #191d34;
  color: aliceblue;
}

.submit:hover {
  cursor: pointer;
}

.footer-bottom {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.footer-left,
.footer-center {
  width: 30%;
  text-align: center;
}

.footer-right {
  width: 30%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 219.81px;
  height: 216.82px;
}

.footer-heading {
  font-size: larger;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer-right-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  text-decoration: none;
  color: black;
}

/* contact form starts */
.box {
  width: 41.6875rem;
  height: 32.875rem;
  border-radius: 0.5rem;
  background: #fef9ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.contact-form-title {
  color: #fe5c24;
  text-align: center;
  font-family: Outfit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  margin-bottom: 0;
  margin-top: -1rem;
}

.form-group label {
  width: 10.375rem;
  height: 1.625rem;
  color: #fe5c24;
  font-family: Outfit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  top: 0%;
}

.form-group input {
  width: 25rem;
  height: 2.625rem;
  border-radius: 0.3125rem;
  border: none;
  background: #fff;
  margin-bottom: 1rem;
  font-family: Outfit;
  border-bottom: 1px solid #fe5c24;
  background-repeat: no-repeat;
  background-position: 98%;
  outline: none;
}

textarea[type="text"]:focus,
input:focus {
  border: 1px solid #fe5c24;
}

.alphabet-count {
  margin-right: 13%;
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: -20px;
}

.form-group textarea {
  width: 25rem;
  height: 8.5rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  background: #fff;
  font-family: Outfit;
  border-bottom: 1px solid #fe5c24;
  background-repeat: no-repeat;
  background-position: top 2% right 1%;
  vertical-align: top;
}

.form-button {
  cursor: pointer;
  color: #fff;
  width: 32rem;
  height: 2.625rem;
  border-radius: 0.5rem;
  border-color: #fe5c24;
  background: #fe5c24;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup .close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (min-width: 250px) and (max-width: 760px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .topnav {
    height: 3rem;
    overflow: hidden;
    background: #fef9ff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .navbar-logo {
    margin-top: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
  }

  .hamb-menu,
  .topnav-dropdown-close {
    margin-top: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .topnav-dropdown-content {
    display: none;
    position: inherit;
    background: #fef9ff;
    width: 100%;
  }

  .topnav-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-right: 0.5rem;
    padding: 8px 8px;
    font-family: Outfit;
    font-size: 1rem;
    font-weight: 500;
  }

  .navbar,
  .logo-container {
    display: none;
  }

  .slider {
    margin-top: 2.5rem;
    height: 18.625rem;
  }

  .slide-text {
    width: 100%;
    top: 35%;
    bottom: 40%;
    left: 0%;
    right: 0%;
    font-size: 1.75rem;
  }

  .tamsoma {
    margin-top: 3rem;
    width: 11rem;
  }

  .about-paragraph {
    width: 90%;
    font-size: 0.875rem;
    line-height: normal;
    margin-top: -1.5rem;
  }

  #about,
  #ourServices {
    margin-top: 1rem;
  }

  .heading {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .services-content {
    margin-top: 0;
    width: 70%;
  }

  .circle-content img {
    width: 5rem;
    height: 5rem;
  }

  .circle-content h2 {
    font-size: 0.75rem;
  }

  .question-box {
    margin-top: -1.2rem;
    width: 21.23rem;
    height: 2.7rem;
    box-shadow: 0 1px 2px #000011;
  }

  .question {
    font-size: 0.63rem;
  }

  .question-box button {
    margin-top: 0.5rem;
    width: 3.79rem;
    height: 1.64rem;
    font-size: 0.398rem;
  }

  .footer {
    height: 15rem;
  }

  .footer-logo {
    width: 6.875rem;
    height: 6.937rem;
  }

  .footer-center {
    display: none;
  }

  .footer-bottom {
    margin-top: 5rem;
    width: 100%;
  }

  .footer-left {
    margin-left: -5rem;
  }

  .footer-heading {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .footer-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footer-right-content {
    margin-top: -1rem;
  }

  .footer-right-content p {
    font-size: 0.86rem;
  }

  .footer-center-mobile-view {
    margin-top: -5%;
    background-color: #c7ede6;
    height: 5rem;
  }

  .footer-center-mobile-view {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 761px) and (max-width: 1096px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .logo {
    width: 9rem;
    height: 9rem;
  }

  .topnav {
    display: none;
  }

  section {
    margin: 0;
  }

  .navbar {
    height: 5.35rem;
  }

  .navbar-name {
    margin-top: 2rem;
  }

  .slider {
    height: 51rem;
  }

  .slide-text {
    width: 100%;
    bottom: 40%;
    top: 40%;
    left: 0%;
    right: 0%;
    font-size: 4.75rem;
  }

  .tamsoma {
    width: 24rem;
  }

  .about-paragraph {
    font-size: 1.125rem;
    line-height: normal;
    margin-top: 3rem;
  }

  #about,
  #ourServices {
    margin-top: 5rem;
  }

  .heading {
    margin-top: 0rem;
  }

  .services-content {
    width: 70%;
  }

  .circle-content img {
    width: 11.25rem;
    height: 11.25rem;
  }

  .question-box {
    width: 36.43rem;
    height: 4.31rem;
  }

  .question-box button {
    margin-top: 1rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }

  .footer-logo {
    width: 11.75rem;
    height: 11.75rem;
  }

  .footer-center-mobile-view {
    display: none;
  }
}

@media (min-width: 1100px) {
  .footer-center-mobile-view {
    display: none;
  }

  .topnav {
    display: none;
  }
}
