@import url("https://fonts.googleapis.com/css?family=Outfit");

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Outfit;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10.5rem;
  height: 10.5rem;
  z-index: 3;
  position: fixed;
}

/* navbar section start */
.dropdown-content {
  display: none;
  position: absolute;
  background: #fef9ff;
  min-width: 160px;
  margin-left: 2.5rem;
}

.dropdown-content a {
  color: #fe5c24;
  text-decoration: none;
  display: block;
}

.dropdown-item {
  padding: 8px 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  text-align: center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  background: #fef9ff;
  z-index: 2;
  box-shadow: 0px 4px 8px 0px #000000cc;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  text-align: center;
  float: left;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  text-align: center;
  float: left;
  margin-left: -5rem;
}

.navbar-link {
  text-decoration: none;
  color: #fe5c24;
}

.navbar-name-two {
  margin-left: 5rem;  
  text-decoration: none;
  color: #fe5c24;
}

.navbar-name,
.navbar-name-two {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1.5rem;
}

.navbar-name:hover,
.dropdown-item:hover,
.navbar-name-two:hover {
  transform: scale(1.1);
  color: black;
}

.bg-image header {
  background: black;
  overflow: hidden;
  height: 89vh;
}

.bg-image header img {
  object-fit: cover;
  opacity: 0.4;
  width: 100vw;
  height: 89vh;
}

.heading-text {
  text-align: center;
  color: #fef9ff;
  font-size: 6.25rem;
  font-weight: 900;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 22%;
  right: 22%;
  bottom: 35%;
}

.elections-para {
  margin-top: 2rem;
  width: 80%;
  font-weight: 500;
  font-size: 20px;
  line-height: 22.68px;
}

/* circle section start */
.element {
  align-items: center;
  text-align: center;
}

.circle {
  width: 11.66rem;
  height: 11.66rem;
  border-radius: 100%;
  position: relative;
  background: #fdae304f;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.circle:hover {
  background: #ff9c41;
  box-shadow: none;
}

.small-circle {
  width: 7.06rem;
  height: 7.01rem;
  border-radius: 100%;
  position: relative;
  background: #fdae304f;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.circle-icon {
  width: 45%;
  height: 45%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  position: absolute;
}

.hide {
  display: none;
}

.show1:hover + .hide {
  display: block;
}

.show2:hover + .hide {
  display: block;
}

.show3:hover + .hide {
  display: block;
}

.circle-center,
.circle-center-two {
  margin-top: 8rem;
  width: 100%;
  height: 15rem;
}

.circle-heading {
  margin-top: 13rem;
}

.small-circle-heading {
  margin-top: 8rem;
}

/* footer section start */
.footer {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  background-color: #c7ede6;
  height: 30rem;
}

.footer-bottom {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.footer-left,
.footer-center {
  width: 30%;
  text-align: center;
}

.footer-right {
  width: 30%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 219.81px;
  height: 216.82px;
}

.footer-heading {
  font-size: larger;
  margin-bottom: 2rem;
}

.footer-heading1 {
  font-size: larger;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer-right-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  text-decoration: none;
  color: black;
}

@media (min-width: 250px) and (max-width: 760px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .topnav {
    height: 3rem;
    overflow: hidden;
    background: #fef9ff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .navbar-logo {
    margin-top: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
  }

  .hamb-menu,
  .topnav-dropdown-close {
    margin-top: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .topnav-dropdown-content {
    display: none;
    position: inherit;
    background: #fff;
    width: 100%;
  }

  .topnav-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-right: 0.5rem;
    padding: 8px 8px;
    font-family: Outfit;
    font-size: 1rem;
    font-weight: 500;
  }

  .navbar,
  .logo-container {
    display: none;
  }

  .bg-image header,
  .bg-image header img {
    height: 18.625rem;
  }

  .heading-text {
    width: 100%;
    top: 9.3rem;
    bottom: 10%;
    left: 0;
    right: 0;
    font-size: 1.75rem;
  }

  .elections-para {
    width: 90%;
    line-height: normal;
    font-size: 0.875rem;
  }

  .circle {
    width: 6.25rem;
    height: 6.25rem;
  }

  .circle-heading {
    margin-top: 7rem;
    font-size: 0.75rem;
  }

  .small-circle {
    width: 4.375rem;
    height: 4.375rem;
  }

  .small-circle-heading {
    margin-top: 5rem;
    font-size: 0.75rem;
  }

  .footer {
    height: 15rem;
  }

  .footer-logo {
    width: 6.875rem;
    height: 6.937rem;
  }

  .footer-center {
    display: none;
  }

  .footer-bottom {
    margin-top: 5rem;
    width: 100%;
  }

  .footer-left {
    margin-left: -5rem;
  }

  .footer-heading,
  .footer-heading1 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .footer-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footer-right-content {
    margin-top: -1rem;
  }

  .footer-right-content p {
    font-size: 0.875rem;
  }

  .footer-center-mobile-view {
    margin-top: -5%;
    background-color: #c7ede6;
    height: 5rem;
  }

  .footer-center-mobile-view {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 760px) and (max-width: 1096px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .topnav {
    display: none;
  }

  section {
    margin: 0;
  }

  .navbar {
    height: 5.35rem;
  }

  .navbar-name,
  .navbar-name-two {
    margin-top: 2rem;
  }

  .navbar-right {
    margin-left: -1rem;
  }

  .footer-logo {
    width: 11.75rem;
    height: 11.75rem;
  }

  .footer-center-mobile-view {
    display: none;
  }

  .bg-image header,
  .bg-image header img {
    height: 44.18rem;
  }

  .heading-text {
    width: 100%;
    bottom: 40%;
    left: 0%;
    right: 0%;
    top: 35%;
    font-size: 4.75rem;
  }

  .elections-para {
    line-height: normal;
    font-size: 1.125rem;
    font-style: normal;
  }

  .circle {
    width: 8.125rem;
    height: 8.125rem;
  }

  .circle-heading {
    margin-top: 9rem;
  }

  .small-circle {
    width: 5.125rem;
    height: 5.125rem;
  }

  .small-circle-heading {
    margin-top: 6rem;
  }

  .circle-center-two {
    margin-top: 3rem;
  }
}

@media (min-width: 1100px) {
  .footer-center-mobile-view {
    display: none;
  }

  .topnav {
    display: none;
  }
}
